@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap");

/* Body, Main and Header */
body {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Oswald", sans-serif;
}

main {
  background-color: #ef0107;
  width: 28vw;
  border-radius: 15px;
  box-shadow: black 0px 0px 10px 0px;
  display: flex;
  flex-direction: column;
}

.header {
  background-image: url("/images/declan-rice-banner.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 50vw;
  max-height: 20vh;
  height: 20vh;
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 15px;
}

.header img {
  max-height: 50%;
  margin-left: 15px;
  margin-bottom: 10px;
}

.header h1 {
  font-weight: 700;
  text-shadow: 2px 2px 2px #000000;
  margin: 0 0 10px 0;
}

/* Form Specific Styles */

section {
  flex-grow: 1;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

form label {
  cursor: pointer;
  text-align: left;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
  border-radius: 5px;
  border: none;
  padding: 0px 10px;
  height: 40px;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
select:focus {
  outline: none;
  box-shadow: 2px 2px 5px 2px #292929;
}

/* Checkbox Styling */

.form__checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.checkbox {
  display: inline-flex;
  cursor: pointer;
  position: relative;
}

.checkbox input {
  height: 30px;
  width: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: #ffffff;
  cursor: pointer;
}

.checkbox input:checked {
  border: 1px solid #910c0c;
  background-color: #000000;
}

.checkbox input:checked + span::before {
  content: "✔";
  font-size: larger;
  text-align: center;
  color: #ffffff;
  position: absolute;
  left: 0.35rem;
  top: 0.1rem;
}

/* Button Styling */

input[type="submit"] {
    background-color: transparent;
    border: solid 1px white;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    align-self: center;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type="submit"]:hover {
    background-color: white;
    transform: scale(1.3);
    box-shadow: 0px 0px 5px 0px #000000bf;
    color: #ef0107;
}